%h4 Hospital Information
= @facility.name
%br
= @facility.address
= @facility.zip
%br
= link_to "Patient Records", facility_patients_path(@facility)
= link_to "Medications", meds_path


%p
%h5 Physicians/Specialties
%ul
  -@facility.doctors.each do |doctor|
    %li
      = "Dr."    
      = doctor.name
      = "-"
      = doctor.specialty

= form_for @doctor, url: create_doctor_facility_path(@facility) do |f|
  = f.label :name
  = f.text_field :name, class: "validate-test"
  %br/
  = f.label :specialty
  = f.text_field :specialty
  %br/
  = f.submit

= link_to "Back to Facility Directory", facilities_path
